[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = git://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/xolox-misc"]
	path = bundle/xolox-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/buffet"]
	path = bundle/buffet
	url = https://github.com/sandeepcr529/Buffet.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
